@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-pink);
}

p {
    font-size: 16px;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 33vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq-container {
    background-color: var(--white);
    padding: 1.5rem;
    margin: 16vh 2rem;
    border-radius: 8px;

    max-width: 600px;
    min-width: calc(375px - 2rem);
}

.faq-header {
    display: flex;
    gap: 1rem;
    /* margin: 1rem 0 ; */
}

.faq-accordion-item {
    border-bottom: 1px solid var(--light-pink);
    padding: 1.5rem 0;
}

.faq-accordion-item:last-child {
    border-bottom: none
}


.faq-accordion-item .title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-accordion-item .title h5 {
    font-size: 1.1rem;
    line-height: 1.2;
    transition: all 0.2s ease;
    cursor: pointer;
}

.faq-accordion-item .title h5:hover{
    color: var(--grayish-purple);
}

.faq-accordion-item .title img {
    margin-left: 1rem;
}

.content-show {
    max-height: 100px;
}

.content-hide {
    max-height: 0;
    margin: 0;
}

.faq-accordion-item .content {
    font-size: 1rem;
    line-height: 1.5;
    color:var(--grayish-purple);

    margin: 1rem 0 0 0 ;
    transition: all 0.2s ease;
    overflow: hidden;
}

